<!-- Preloader -->
<div id="preloader">
  <img src="/icons/soultrader_icon_large_dark_transparent.png" alt="" style="width:80px;height:80px;animation:pulse 1.5s ease-in-out infinite;" />
</div>
<script>
  window.addEventListener('load', function() {
    const preloader = document.getElementById('preloader');
    if (preloader) {
      preloader.classList.add('preloader-fade');
      setTimeout(() => { preloader.remove(); }, 400);
    }
  });
</script>
